body {
    background-color: #f5f5f5;
    background-image: url('../images/noisy-texture.png');
    font-family: 'Open Sans', sans-serif;
}

/* Extra Bootstrap classes */
.shadow-inside-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) inset!important;
}

.custom-file-label::after {
    content: 'Procurar';
}

.psd-layer-list-item.active .psd-layer-image-data-loading {
    color: #fff!important;
}